body {
    background: rgba(243,243,243,.85);
    font: normal 0.9em/150% 'Arimo', "Trebuchet MS", arial, verdana, sans-serif;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    /*width: 20%;*/
    width: 300px;
    overflow: hidden;
    background: rgb(245,245,245) linear-gradient(#f4f4f4, #f1f1f1);
    box-shadow: 0 2px 6px rgba(0,0,0,.1);
}

.content {
    margin-left: 300px;
}

.sidebar .station_list {
    list-style-type: none;
    padding: 0;
    overflow: auto;
    overflow-x: hidden;
    height: 95%;
    margin: 0;
}

.sidebar .search {
    height: 5%;
}

.sidebar .search input {
    height: 100%;
    width:100%;
    font-size: 100%;
}


.sidebar .station_list::-webkit-scrollbar{
    width:4px;
    float:left;
}

.sidebar .station_list::-webkit-scrollbar-thumb{
    background-color:rgba(68,68,68,0.5);
    border-radius:10px;
}
.sidebar .station_list::-webkit-scrollbar-thumb:hover{
    background-color:rgba(68,68,68,0.7);
}
.sidebar .station_list::-webkit-scrollbar-thumb:active{
    background-color:rgba(68,68,68,1);
}

.sidebar .station_list::-webkit-scrollbar-track{
    border: 1px solid rgba(0,0,0,.1);
    border-radius:10px;

}

.station_list a {
    text-decoration: none;
}

.station_item {
    padding: 10px;
    border: 1px solid rgba(0,0,0,.1);
    cursor: pointer;
    color: rgba(68,68,68,0.5);
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
}

.station_item:hover {
    color: rgb(24,24,24);
    border: 1px solid rgb(198,198,198);
    background: #f7f7f7 linear-gradient(#f7f7f7, #f1f1f1);
    box-shadow: 0 2px 4px rgba(0,0,0,.1);
}
.station_item:active, .station_item.active {
    color: rgb(51,51,51);
    border: 1px solid rgb(204,204,204);
    background: rgb(238,238,238) linear-gradient(rgb(238,238,238), rgb(224,224,224));
    box-shadow: 0 2px 4px rgba(0,0,0,.1) inset;
    border-left: 3px solid blue;
}

.station_info h2, .station_info p {
    margin: 5px 0;
}

.station_links, .station_info {
    display: inline-block;
    width:100%;
}

.station_info p {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
    font-size: 12px;
}

.station_links {
    width: 0;
}

.track_list {
    border: 0;
    width: 100%;
    table-layout:fixed;
}

.track_item > td {
    padding: 8px 5px;
    vertical-align: middle;
}

.track_item {
    background: rgba(0,0,0,.05);
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
}
.track_item > td {
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    border-bottom: 2px rgba(243,243,243,.85) solid;
}
.track_item:hover {
    background: rgba(0,0,0,.1);
}
.track_item > td:first-child {
    border-left: 1px solid transparent;
}
.track_item:hover > td:first-child{
    border-left-color: blue;
}

.artist_name {
    width: 30%;
    min-width: 100px;
}

.artist_name, .track_name {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.track_name {
    width: 30%;
    min-width: 100px;
}

.track_time {
    width: 70px;
}

.track_duration {
    width: 40px;
}

.track_buttons {
    width: 20px;
    text-align: center;
    cursor: pointer;
    color: rgba(0,0,0,.6);
}

.track_buttons:hover {
    color: rgba(0,0,0,.9);
}

.track_buttons:active {
    color: rgba(0,0,0,1);
}

.track_buttons i {
    font-size: 17px;
}

.track_buttons a {
    color: black;
}

.station_wrapper {
    width: 96%;
    margin: 0 auto;
}

.clip-copy.zeroclipboard-is-hover {
    color: rgba(0,0,0,.9);
    cursor: pointer;
}

.clip-copy.zeroclipboard-is-active {
    color: rgba(0,0,0,1);
}