<div class="sidebar">
    <div class="search">
        <input type="search" ng-model="q"/>
    </div>
    <div class="station_list"><a ng-repeat="st in stations | filter:q" ui-sref="stations.detail({id: st.id})">
        <div class="station_item" ui-sref="stations.detail({id: st.id})" ui-sref-active="active">
            <div class="station_info">
                <h2>{{st.name}}</h2>
                <div ng-if="st.currentTrack">
                    <p>{{st.currentTrack.artistName}} - {{st.currentTrack.trackName}}</p>
                </div>
            </div>
        </div></a></div>
</div>
<div class="content" ui-view></div>