<div class="station_wrapper">
    <h1>{{station.title}}</h1>
    <h2>
        <div class="track_buttons" style="display: inline" id="clipCopyStream"
             data-clipboard-text="{{station.streamUrl}}" ng-show="station.streamUrl" clipboard>
            <i class="fa fa-copy" title="Копировать ссылку на радио" ng-click="copyToClipboard(station.streamUrl)"></i>
        </div>
        {{station.streamUrl}}
    </h2>
    <table class="track_list" cellspacing="0">
        <tr ng-repeat="tr in station.tracks" class="track_item">
            <td class="track_buttons" id="clipCopy{{$index}}" data-clipboard-text="{{tr.streamUrl}}" clipboard>
                <i class="fa fa-copy" title="Копировать ссылку на радио" ng-click="copyToClipboard(tr.streamUrl)"></i>
            </td>
            <td class="track_buttons">
                <i class="fa fa-download" title="Скачать песню"
                   ng-click="downloadTrack(tr.artistName + ' - ' + tr.trackName)"></i>
            </td>
            <td class="artist_name">{{tr.artistName}}</td>
            <td class="track_name">{{tr.trackName}}</td>
            <td class="track_time">{{tr.timeStamp | date:'HH:mm:ss'}}</td>
            <td class="track_duration" ng-init="seconds = tr.duration % 60">{{tr.duration / 60 | number:0}}:{{seconds == 0
                ? '00' : seconds}}
            </td>
        </tr>
    </table>

</div>